!.commitlintrc.js
!.editorconfig.js
!.eslintrc.js.js
!.npmrc.js
!.prettierignore
!.prettierrc.json
### macOS template
# General
.DS_Store

### Local
dokcer-compose.yml
.env
/.idea/
/coverage/
/dist/
/.nyc_output/
/test-reports/
node_modules
package-lock.json
.eslintcache
!/bin/
report.*.json
.vscode
